
%section.introduction
  %p 
    Wellcome to my page about Sona. I am a new learner of Sona and found this language very intriging so I decided to write about it. 

%section.faq
  %h2 FAQ

  %article
    %h3 What is Sona?
    Sona is an artificial language (conlang) created by Kenneth Searight in 1935.
    Refer to the
    %a{ href:"http://en.wikipedia.org/wiki/Sona_language"}
      Wikipedia article
    or the 
    %a{ href:"http://www.unilang.org/wiki/index.php/Sona"}
      Unilang wiki article
    for longer overviews. 
    
  %article
    %h3 What are the main properties of Sona? 
    These are the most interesting properties of the language in my opinion: 
    %ul
      %li
        Simple phonology: Every syllabe is pronounced as either a single vowel, consonant+vowel or consonant+vowel+'n'. Sona does not have consonant clusters. Sona has only 5 vowels (comparing with 12 for English) which phonology is very far apart one from the other (easy to hear the difference), similar to Spanish or Italian.
      %li 
        Neutral vocabulary: Compared with other conlangs like Esperanto, Sona does not try to extract a common vocabulary from a given set of languages. This makes it harder to start with the language (you can not leverage your own language to learn Sona) but makes it much more pleasant to conquer a new territory (personal opinion, of course). 
      %li
        Easy grammar: Each basic root word (mainly syllabes) in Sona has one meaning, this meaning does not need to change according to tense, person or time. Does not need to agree in number or person with surrounding words. You learn the root and you can use it like that always. You just put syllabes together and make meanings. Simple and beautiful. I can not explain with words the pleasure and aestetics of it. :)
        
  %article
    %h3 Isn't it outdated?
    Sona was done in 1935 and sure, its basic vocabulary has no word to refer modern terms like to International Space Station or Iphone but using the basic roots, it can accomodate any modern term gracefully.

  %article
    %h3 How many people speak Sona?
    I have not seen any official number anywhere but according to the amount of activity (or lack of, that's it) I've seen so far around the language, I'd say an optimistic estimation would be 50 speakers worldwide. 

  %article
    %h3 Why would I learn a language with such an small community?
    Because your contribution will be much more important. You can create many things noone has created before and explore unexplored territories. Personally I consider this a lot of fun. A language so unknown it seems magical. 

  %article
    %h3 Ok, wanna learn, give me some resources 
    Many Sona related services and pages have been shutdown lately, the following are working as 2012/03:
    %ul
      %li 
        %a{href:"http://www.rickharrison.com/language/sonabook.html"} The Sona book
        This is the most complete resource I have found so far.
      %li 
        %a{href:"http://tech.groups.yahoo.com/group/sona_language/"} The Sona Yahoo group
        The most active forum I know. Join and you will find several treasures in the Files section, including beginner's lessons and the original book.
      %li 
        %a{href:"https://www.facebook.com/groups/124194357632106/"} The Facebook page
        Because everything has a Facebook page lately.
