
%section.introduction
  %p 
    Wellcome to my page about Sona. I am new learner of Sona but find this language very intriging so I decided to write about it. 

%section.faq
  %h2 FAQ

  %article
    %h3 What is Sona?
    Sona is an artificial language (conlang) created by Kenneth Searight in 1935.
    Consult the 
    %a{ href:"http://en.wikipedia.org/wiki/Sona_language"}
      Wikipedia article
    or the 
    %a{ href:"http://www.unilang.org/wiki/index.php/Sona"}
      Unilang wiki article
    for longer overviews. 
    
  %article
    %h3 What are the main properties of Sona? 
    I will list what I think are the most intersting properties of Sona, I hope they will help you decide if this is a language you would like to study.
    %ul
      %li
        Easy phonology: Every syllabe is pronounced as a single vowel, consonant+vowel or consonant+vowel+'n' . Sona does not have clusters of consonants (common in slavic languages but uncommon in many other languages) . Sona has only 5 vowels (comparing with 12 for English) which are very far apart one of the other (easy to hear the difference)
      %li 
        Neutral vocabulary: Compared with other conlangs like Esperanto, Sona does not try to extract a common vocabulary from a given set of languages. This makes harder to start with the language (you can not leverage your own language to learn Sona) but makes it much more pleasant to conquer a new territory (personal opinion, of course). 
      %li
        Easy grammar: Each basic root word (mainly syllabes) in Sona has one meaning, this meaning does not need inflections for tense, person, time. Does not need adjectives and nouns to agree in number or any other property. You just put syllabes together and make meanings. It is so easy that makes all languages of Europe look unneedly complex. It is so simple that is beautiful. I can not explain with words the pleasure and aestetics of it.
        
  %article
    %h3 Isn't it outdated?
    Sona was done in 1935 and sure, its basic vocabulary has no word to refer to Iphone but the basics are not outdated. It can accomodate any modern term gracefully.

  %article
    %h3 How many people speak Sona?
    I have not seen any official language but for the amount of activity (or lack of, that's it) of the community, I'll say you can count them with a couple of hands. Being very optimistic maybe 50 persons.

  %article
    %h3 Why would I learn a language with such an small community?
    Because your contribution will be much more important. What can you give back to Esperanto or to some natural language? Nothing of almost nothing. You can help shape Sona future. You may be the first Sona speaker of your country, the one who brought the Sona movement to everyone else. Being small has the advantage of being able to grow!

  %article
    %h3 Ok, wanna learn, give me some resources 
    Many Sona related services and pages have been shutdown lately, the following are working as 2012/03:
    %ul
      %li 
        %a{href:"http://www.rickharrison.com/language/sonabook.html"} The Sona book
        This is the main reference.
      %li 
        %a{href:"http://tech.groups.yahoo.com/group/sona_language/"} The Sona Yahoo group
        The most active forum I know. Join and you will find several treasures in the Files section, including beginner's lessons.
      %li 
        %a{href:"https://www.facebook.com/groups/124194357632106/"} The Facebook page
        Because everything has a Facebook page lately.
