%html{lang: 'en'}
  %head
    %title Sona lasin
    %meta{charset: 'UTF-8'}
    %link{rel: "stylesheet", href: '/all.css', media: 'all', type: 'text/css'}
  %body
    %header
      %h1 Sona lasin
    != yield
    %footer
      %a{ rel:"license", href:"http://creativecommons.org/licenses/by/3.0/"}
        %img{ alt:"Creative Commons License", style:"border-width:0", src:"http://i.creativecommons.org/l/by/3.0/88x31.png" }
